
{% include "store/base.html" %}
{% load static %}
{% block content %}
{% load crispy_forms_tags %}

    <body>

        <style >
            body{
                background-color: gray
            }
        </style>

        <br><br>
        <div class="container bg-dark shadow-md p-5 form-layout" >

            <h3> Create your account</h3>
            <h5> Pourchase yourr favourite items toda </h5>

            <br>
            <br>

            <form method="POST" autocomplete ="off">

                {% csrf_token %}
        
                {{form.username|as_crispy_field}}
                <br> <br>

                {{form.email|as_crispy_field}}
                <br> <br>

                {{form.password1|as_crispy_field}}
                <br> <br>

                {{form.password2|as_crispy_field}}
                <br> <br>

                <br> <br>
                <button 
                    type="sbmit" 
                    class="btn btn-primary navbar-btn text-white w-100 p-2"> 
                    &nbsp;
                    Create account 
                </button>

                <br>  <br>  

                <a href="{% url 'my-login' %}">
                    <div class="text-center"> 
                    Already have an account ? 
                    </div>
                </a>

                <br>
                 

        </div>
        <br><br>
                
             

    </body>

{% endblock %}