{% extends "store/base.html" %}
{% load static %}
{% block content %}
{% load crispy_forms_tags %}

<div class="container py-5">
    <div class="row justify-content-center">
        <div class="col-md-6">
            
            <div class="card shadow-lg bg-dark text-white border-warning">
                
                <div class="card-header bg-transparent border-warning text-center">
                    <i class="fa fa-lock fa-3x text-warning mb-2"></i>
                    <h3>Enter your new password</h3>
                </div>

                <div class="card-body">
                    <p class="text-center text-muted mb-4"> 
                        Please enter your new password twice so that we can verify that you typed it in correctly.
                    </p>

                    <form method="post" autocomplete="off">
                        {% csrf_token %}

                        {{ form|crispy }}

                        <br>

                        <button type="submit" name="Update password" class="btn btn-warning w-100 btn-lg">
                            <i class="fa fa-check-circle"></i> Update Password
                        </button>
                        
                    </form>
                </div>
            </div>

        </div>
    </div>
</div>

{% endblock %}