{% extends "store/base.html" %}
{% load static %}
{% block content %}

<div class="container py-5">
    <div class="row justify-content-center">
        <div class="col-md-6">
            <div class="card shadow-lg p-4 mb-4 rounded text-center border-success bg-dark text-white">
                
                <i class="fa fa-check-circle fa-4x mb-3 text-success" aria-hidden="true"></i>
                
                <h3 class="card-title text-success mb-3">Password Reset Complete</h3>

                <div class="card-body">
                    <p class="card-text lead">
                        ¡Tu contraseña ha sido establecida con éxito!
                    </p>
                    <p class="text-muted mb-4">
                        Ya puedes proceder a iniciar sesión con tu nueva contraseña.
                    </p>

                    <a href="{% url 'my-login' %}" 
                       class="btn btn-success btn-lg mt-3 w-75"
                       role="button">
                       <i class="fa fa-sign-in" aria-hidden="true"></i>
                       Iniciar Sesión
                    </a>
                </div>
            </div>
        </div>
    </div>
</div>

{% endblock %}