 
{% include "store/base.html" %}
{% load static %}
{% block content %}
{% load crispy_forms_tags %}

    <body>

        <style >
            body{
                background-color: gray
            }
        </style>

        <br><br>
        <div class="container bg-dark shadow-md p-5 form-layout" >

            <h3> Delete your account </h3> 
            
            <hr> 
            <br>
                <p> Are you sure that you want to delete your account?</p>
            <br>
            <br>

            <form method="POST" autocomplete ="off">

                {% csrf_token %} 
  
                <button 
                    type="sbmit" 
                    class="btn btn-danger navbar-btn text-white"> 
                    &nbsp;
                    Delete Account 
                </button>


                <br>
                <br>
                <a class="btn btn-success navbar-btn text-white" 
                type="button" 
                href="{% url 'profile-management' %}">
                Go back
                </a>

        </div>
        <br><br>
                
             

    </body>

{% endblock %}