
{% include "store/base.html" %}
{% load static %}
{% block content %}
{% load crispy_forms_tags %}

    <body>

        <style >
            body{
                background-color: gray
            }
        </style>

        <br><br>
        <div class="container bg-dark shadow-md p-5 form-layout" >

            <h3> Loging to your account</h3> 

            <br>
            <br>

            <form method="POST" autocomplete ="off">

                {% csrf_token %}
        
                {{form.username|as_crispy_field}}
                <br>  

                {{form.password|as_crispy_field}}
                <br>  
  
                <button 
                    type="sbmit" 
                    class="btn btn-primary navbar-btn text-white w-100 p-2"> 
                    &nbsp;
                    Login
                </button>

                <br>  <br>  

                <a href="{% url 'register' %}">
                    <div class="text-center"> 
                    Dont have an account ? 
                    </div>
                </a>
                <br>  
                <a href="{% url 'reset_password' %}">
                    <div class="text-center"> 
                    Forgotten your password ? 
                    </div>
                </a>

        </div>
        <br><br>
                
             

    </body>

{% endblock %}