 
{% include "store/base.html" %}
{% load static %}
{% block content %}
{% load crispy_forms_tags %}

    <body>

        <style >
            body{
                background-color: gray
            }
        </style>


        <div class="container bg-dark shadow-md p-5 form-layout" >
            <h1> Profile management </h1> 

        </div> 

        <br><br>
        <div class="container bg-dark shadow-md p-5 form-layout" >

            <h3> Update your account</h3> 

            <br>
            <br>

            <form method="POST" autocomplete ="off">

                {% csrf_token %}
        
                {{user_form.username|as_crispy_field}}
                <br> <br> 

                {{user_form.email|as_crispy_field}}
                <br> <br>
  
                <button 
                    type="sbmit" 
                    class="btn btn-secondary btn-lg w-100 btn-block p-2"> 
                    &nbsp;
                    Update
                </button>

        </div>
        <br><br>

        <div class="container bg-dark shadow-md p-5 form-layout" >
            <h3> Delete your account </h3>
            <hr>
            <p> Proceed if you wish to delete your account <p>
            
            <a class="btn btn-outline-danger navbar-btn text-white" 
                type="button" 
                href="{% url 'delete-account' %}">
                Delete your account
            </a>

        </div>
        <br><br>

                
             

    </body>

{% endblock %}